@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;600;800&display=swap');

:root{
    --size_titulo_1: 35px;
    --size_titulo_2: 28px;
    --size_titulo_3: 24px;
    --size_titulo_4: 20px; 
    --size_titulo_5: 15px;

    --color_celeste_claro_0:#DFF9FF;
    --color_celeste_claro_1:#9EE2FF;
    --color_celeste_claro_2:#61E2FF;

    --color_celeste_oscuro_0:#6BCEFF;
    --color_celeste_oscuro_1:#00C0EB;
    --color_celeste_oscuro_2:#0098BA;
    --color_celeste_oscuro_3:#007f9b;

    --color_negro_0:#161616;
    --color_negro_1:#0a0a0a;
    --color_blanco_0:#fafafa;
    --color_blanco_1:#e4e4e4;

    --ancho_fuente_delgado: 300;
    --ancho_fuente_medio: 600;
    --ancho_fuente_grueso: 800;
}

.contenedor_login_completo{
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../img/fondo_login.png");
    background-size: 100% auto; /* 100% del ancho del contenedor, altura automática */
    background-repeat: no-repeat; /* Evitar repetición de la imagen */
    background-position: center;
}


@media only screen and (max-width: 600px){
    .contenedor_login_completo{
        background-size: auto 100%; /* 100% del ancho del contenedor, altura automática */
    }
}

